body{
    background:#43ff89; 
}
p.branco{
    color:#ffffff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p.vermelho{
    color:red;
    text-align: right;
    font-family: 'Verdana';
}
p.azul{
    color:blue;
    text-align: left;
    font-family: 'Franklin Gothic Medium';
}
.verde{
    color:green;
}
h1, h3, h6{
    color:silver;
}